<h2>
    Frequently asked questions
  </h2>
  <p>Need Answers? Everything you need to know.
  </p>

<mdb-accordion [flush]="true">
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>What is Google I/O Extended ?</ng-template>
      <ng-template mdbAccordionItemBody>
        Google I/O Extended is the community led counterpart to Google I/O, our annual Google led conference where the world hears about Google's latest developer solutions, products, and technology.
      </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>What are GDG's ?</ng-template>
      <ng-template mdbAccordionItemBody>
        GDGs are focused on community building and learning about Google’s technologies.
      </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Who can register for DevFest ?</ng-template>
      <ng-template mdbAccordionItemBody>
        Beginners, experts, literally everyone. Anyone with the passion of learning, who’s fond of technology, passionate programmers , everybody can register and attend.
      </ng-template>
    </mdb-accordion-item>

    <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>Is it mandatory to register to participate in the event ?</ng-template>
        <ng-template mdbAccordionItemBody>
            Yes. Each individual may register for only one ticket. You may not register on behalf of anyone else.
        </ng-template>
      </mdb-accordion-item>

      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>I’m a beginner in programming. Can I still register?</ng-template>
        <ng-template mdbAccordionItemBody>
            Yes. Anybody with the zeal in technology can register. We have special tracks especially for beginners.
        </ng-template>
      </mdb-accordion-item>
  
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>What will attendees get by participating in the event ?</ng-template>
        <ng-template mdbAccordionItemBody>
            We have a plethora of AMAZING perks awaiting for you!
        </ng-template>
      </mdb-accordion-item>
      
      <mdb-accordion-item>
        <ng-template mdbAccordionItemHeader>How can I become a member of GDG ?</ng-template>
        <ng-template mdbAccordionItemBody>
            Head to Google developers group website (https://gdg.community.dev/gdg-chandigarh/)
        </ng-template>
      </mdb-accordion-item>
  
      <mdb-accordion-item>
          <ng-template mdbAccordionItemHeader>How can I communicate my queries ?</ng-template>
          <ng-template mdbAccordionItemBody>
            Reach out to us at: [gdgforchd@gmail.com]
          </ng-template>
        </mdb-accordion-item>
  </mdb-accordion>