<footer class="footer">
    <div class="container footer-bottom">
      <div class="row">
        <div class="col-md-12">
          <h5 class="footer-title">
            <a href="https://gdg.community.dev/events/details/google-gdg-chandigarh-presents-google-io-extended-chandigarh/" target="_blank"> I/O Extended Chandigarh</a></h5>
        </div>
        <div class="col-md-12">
          <div class="follow-container">
            <h5 class="footer-title">Follow Us:</h5>
            <div class="social-icons-container">
              <a target="_blank" href="https://twitter.com/gdgchandigarh" class="social-icon"><i class="fab fa-twitter"></i></a>
              <a target="_blank" href="https://www.facebook.com/gdgchd" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a target="_blank" href="https://www.instagram.com/gdgchandigarh/" class="social-icon"><i class="fab fa-instagram"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/gdg-chandigarh/mycompany/" class="social-icon"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div>
      <a href="#" class="back-to-top" *ngIf="showButton" (click)="scrollToTop()">
        <i class="fas fa-arrow-up"></i>
      </a>
      <hr class="footer-divider">
      <div class="row">
        <div class="col-md-12">
          <a target="_blank" href="https://io.google/2023/" class="io-extended" style="display: inline-block;">Google I/O 2023</a>
          <a target="_blank" href="https://developers.google.com/community/gdg" style="display: inline-block; margin-left: 20px;">About GDG Program</a>
          <a target="_blank" href="https://www.womentechmakers.com/" style="display: inline-block; margin-left: 20px;">About WTM Program</a>
          <a target="_blank" href="https://developers.google.com/community-guidelines" style="display: inline-block; margin-left: 20px;">Community Guidelines</a>
        </div>
      </div>
    </div>
  </footer>
  