.footer {
    background-color: #f5f5f5;
    padding: 40px;
    color: #fff;
  }
  
  .footer-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  .social-icon {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footer-divider {
    border-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .footer-spacer {
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    font-family: google-sans,Helvetica,Arial,Sans-Serif;
    color: black;
  }
  .col-md-6.text-md-right.follow {
    margin: 28px 1px 0px 0px;
}
.follow {
    display: flex;
    align-items: center;
  }
  
.social-icon {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    text-decoration: none;
    color: #000;
    margin-right: 0px;
    margin-top: -5px;
  }

  .back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .back-to-top:hover {
    color: #007bff;
  }

  .faq-click {
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    a.io-extended {
        margin: 0px 0px 0px 22px;
    }
}
