a {
  cursor: pointer;
  text-decoration: none;
  color: #757575;
  font-family: google-sans, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

img {
  height: 40px; /* set the height to whatever size you want */
  margin-right: 8px; /* add some margin to the right of the image */
}
a.btn.btn-primary {
  color: white;
}