.container {
  text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
h2 {
    font-weight: 700;
}
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    width: 268px;
    height: 69px;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add margin-top if needed */
  }
  .partner{
    text-align: center;
  }
  .hr-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  
.venue-partner {
    margin-top: 16px;
}
.community-partners {
  padding-left: 100px;
  padding-right: 100px;
}
.community-image-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  cursor: pointer;
  width: 290px;
}

.community-image-container img {
  max-width: 40px;
  max-height: 40px;
  margin-left: 20px;
}

.content {
  text-align: left;
  margin-left: 30px; /* Add margin to create spacing */
}

.content h4 {
  margin: 0;
  font-size: 18px;
}

.content p {
  margin: 0;
  font-size: 14px;
  color: #007bff;
}

.community{
  margin-bottom: 20px;
}




@media screen and (max-width: 768px){
    .image-container {
        width: 268px;
        height: 69px;
      }
      .community-partners {
        padding: 0px;
      }
      .community{
        margin-bottom: 20px;
      }
      .col-md-3 {
        margin-bottom: 20px;
    }
}