<app-navbar></app-navbar>

<div class="banner">
  <img src="../../assets/C-IOE23-WebBanner-2560x500.png" alt="Banner Image">
</div>
<div class="main">
  <div class="content">
    <div class="image-box">
      <div class="content-box">
        <h1><strong style="font-size: 1.5em;">Most Awaited</strong></h1>
        <h1><strong style="font-size: 1.5em;"><span style="color: #4285f4;">Tech-Event</span> For <span style="color: #ea4335;">Developers</span></strong></h1>
        <br>
        <div class="event">
          <div class="event-icon">
            <i class="material-icons">calendar_today</i>
          </div>
          <div class="event-details">
            <span class="event-label">Date:</span>
            <span class="event-text">May 27, 2023</span>
          </div>
        </div>
        
        <div class="event">
          <div class="event-icon">
            <i class="material-icons">access_time</i>
          </div>
          <div class="event-details">
            <span class="event-label">Time:</span>
            <span class="event-text"> 09:00 AM - 4:00 PM IST</span>
          </div>
        </div>
        
        <div class="event">
          <div class="event-icon">
            <i class="material-icons">location_on</i>
          </div>
          <div class="event-details">
            <span class="event-label">Location:</span>
            <span class="event-text">Swami Vivekanand Institute of Engineering & Technology - GMJG+78J, Village- Ramnagar Tehsil, Near Banur Rajpura, 140401</span>
          </div>
        </div>
        
        <p>Google I/O Extended is the community led counterpart to Google I/O, our annual Google led conference where the world hears about Google's latest developer solutions, products, and technology.</p>
        <button  mat-raised-button class="large-button" >
          <a target="_blank" href="https://gdg.community.dev/events/details/google-gdg-chandigarh-presents-google-io-extended-chandigarh/">Register Now</a>
        </button>
  
      </div>
      <div class="image-container">
        <img src="../../assets/gifs/IOE23_WatchParty.gif" alt="Image">
      </div>
    </div>
  </div>
  
<section class="io-intro">
  <div class="io-container">
    <div class="io-image-container">
      <img src="../../assets/IMG20220605172817.jpg" alt="image description">
    </div>
<div class="io-content">
        <h2>What is Google I/O Extended Chandigarh ? </h2>
        <p>Google I/O Extended Chandigarh, a full day event, where you find updates of Google's Products. 
           The magic of I/O doesn’t end after the main event. Local developers come together for I/O Extended 
           events to discuss the latest new technologies, summarize content, hosting Q&As, and meet other technology enthusiasts. 
           This will be a physical event, promising to each of our attendee an experience, unlike anything they've ever seen.</p>

</div>
</div>
</section>

<section class="technologies">
  <h2>
    Technologies to be focused
  </h2>
  <p>At sessions that span from the technical to the visionary, let’s celebrate and discover what the technologies can enable: how product innovation, open source, and ML and AI can propel enterprises forward and solve the big problems that impact all of us.</p>

<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    <div class="rounded-image" style="">
      <img src="https://io.google/2022/app/images/android-logo.svg" alt="technology 1">
    </div>
    <div class="rounded-image">
      <img src="https://io.google/2022/app/images/flutter-logo.svg" alt="technology 4">
    </div>
    <div class="rounded-image">
      <img src="https://io.google/2022/app/images/googlecloud-logo.svg" alt="technology 5">
    </div>
    
    <div class="rounded-image">
      <img src="https://io.google/2022/app/images/machinelearning-logo.svg" alt="technology 3">
    </div>
   
    <div class="rounded-image">
      <img src="https://io.google/2022/app/images/chrome-logo.svg" alt="technology 2">
    </div>
    
  
    
  </div>
</section>
<div class="hr-container">
  <hr>
</div>
  <!-- <section class="schedule" id="schedule">
    <app-schedule></app-schedule>
</section>  -->
<!-- <div class="hr-container">
  <hr>
</div> -->
<section id="speakers">
  <app-speakers></app-speakers>
</section>

<section class="partners" id="partners">
  <app-partners></app-partners>
</section>


<section class="team" id="team">
  <app-team></app-team>
</section>

<section class="faq" id="faq">
  <app-faq></app-faq>
</section>
</div>

<section>
    <app-footer></app-footer>
</section>

