<div class="title">
    <h2>Schedule</h2>
</div>
<div class="container">
    <div class="container py-5">
        <div class="row">
          <div class="col-md-12">
            <div id="content">
              <ul class="timeline-1 text-black">
                <li class="event" data-date="9:00 AM">
                  <h4 class="mb-3">Registration</h4>
                  <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                </li>

                <li class="event" data-date="10:00 AM">
                    <div class="media">
                      <img height="70px" width="70px" src="../../assets/speakers/loveleen.jpg" class="mr-3 rounded-circle" alt="Image">
                      <img height="70px" width="70px" src="../../assets/speakers/Kamal Vaid.png" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Loveleen Kaur, Kamal Vaid</h4>
                        <p>Welcome Keynote</p>
                      </div>
                    </div>
                </li>

                
                <li class="event" data-date="10:30 AM">
                    <div class="media">
                      <img height="70px" width="70px" src="../../assets/speakers/Kartik Derasari.png" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Kartik Derasari</h4>
                        <p>Scaling your Web-Apps using Firebase & Google Cloud</p>
                      </div>
                    </div>
                </li>


                <li class="event" data-date="11:15 AM">
                    <div class="media">
                      <img height="70px" width="70px" src="../../assets/speakers/Adit Lal.png" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Adit Lal</h4>
                        <p>Accelerate your key learnings of modern Android app development with KMM</p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="12:00 PM">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Ice Breaker Activity</h4>
                        <p>Get ready for an exciting round of team-building games and challenges that will bring out the laughter and camaraderie in all of us!</p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="12:15 PM">
                    <div class="media">
                        <img height="70px" width="70px" src="../../assets/speakers/Nitin Tiwari.jpg" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Nitin Tiwari</h4>
                        <p>Unleashing creativity with DCGANs</p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="1:00 PM">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Lunch & Networking</h4>
                        <p>Lunch Break 🍕 </p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="2:00 PM">
                    <div class="media">
                      <img height="70px" width="70px" src="../../assets/speakers/Aashi.png" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Import Community as Fun by Aashi</h4>
                        <p>Learn about community</p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="2:30 PM">
                    <div class="media">
                        <img height="70px" width="70px" src="../../assets/speakers/Pranav Kumar Verma.png" class="mr-3 rounded-circle" alt="Image">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Pranav Kumar Verma</h4>
                        <p>Keeping Up with the Latest Trends in Web Development and Angular</p>
                      </div>
                    </div>
                </li>

                <li class="event" data-date="3:15 PM">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Panel Discussion</h4>
                        <p>Engage in a thought-provoking panel discussion where industry experts share insights, exchange diverse perspectives, and tackle pressing topics, fostering a collaborative and enlightening conversation.</p>
                      </div>
                    </div>
                </li>
                <li class="event" data-date="3:45 PM">
                    <div class="media">
                      <div class="media-body">
                        <h4 class="mb-3 pt-3">Closing Note</h4>
                        <p>Closing Keynote and Vote of Thanks</p>
                      </div>
                    </div>
                </li>
              
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
