

<h2 mat-dialog-title class="dialog-image">
   
    <img src="../../assets/speakers/{{data.speaker.imageName}}" alt="Speaker Avatar" class="avatar">
    <div class="speaker-info">
      <div class="name">{{data.speaker.name}}</div>
      <div class="company">{{data.speaker.company}}</div>
    </div>
  </h2>
  
  <div mat-dialog-content class="content">
    <p class="bio">{{data.speaker.bio}}</p>
  </div>

  <div class="session">
    <h4>Session</h4>
    <h6> {{data.speaker.title}}</h6>
    <div class="row" *ngIf="data.speaker.email != ''">
      <div class="col-sm-1">
        <i class="material-icons">mail</i>
      </div>
      <div class="col-sm-1" >
        <p>{{ data.speaker.email }}</p>
      </div>
      
    </div>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button class="align-right" (click)="onClose()">Close</button>
  </div>
  
  