/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@use '@fortawesome/fontawesome-free/scss/solid.scss'; 
@use '@fortawesome/fontawesome-free/scss/regular.scss';
@use '@fortawesome/fontawesome-free/scss/brands.scss';
 
@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';

h1, h2, h3, h4, p {
  font-family: google-sans,Helvetica,Arial,Sans-Serif;
  color: #616161;
}
p {
  font-family: google-sans,Helvetica,Arial,Sans-Serif;
}
@media screen and (max-width: 768px){
 .main{
    padding: 25px;
 }
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p {
    color:  rgba(0,0,0,.6)!important;
    font-family: google-sans,Helvetica,Arial,Sans-Serif;
  }
  h1,h2,h3,h4 {
      color:  rgba(0,0,0,.6)!important;
  }
