.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
  }
  
  .banner img {
    max-width: 100%;
  }
  
  .content {
    padding: 20px;
  }
  
  .image-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .content-box {
    flex: 1;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    padding: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 115px;
    display: block;
  }
  