<div class="banner">
    <img src="../../assets/B-IOE23-WebBanner-2560x500.png" alt="Banner Image">
  </div>
  <marquee direction="left" style="font-family: Rajdhani, sans-serif; color: #FFFFFF" bgcolor="#00224f" behavior="loop">
    Google I/O Extended GDG Chandigarh
  </marquee>
  <div class="content">
    <div class="image-box">
      <div class="content-box">
        <h2>Heading</h2>
        <p>Some text goes here...</p>
      </div>
      <div class="image-container">
        <img src="../../assets/B-IOE23-WebBanner-640x500.png" alt="Image">
      </div>
    </div>
  </div>